.information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin: 0 auto;
    width: 1240px;
    height: 524px;
    background-color: #f4eee5;
    margin-bottom: 90px;
    -webkit-mask-image: url(./assets/mask-high.svg);
    -webkit-mask-size: 100% 100%;
    

    .cactus {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 130px;
        height: 187px;
    }

    .happy-children {
        width: 300px;
        height: 314px;
        border-right: 3px dashed lightblue;

        h1 {
            text-align: center;
            color: #bfd7db;
            font-size: 48px;
        }

        h2 {
            text-align: center;
            color: #333;
            font-size: 32px;
            margin-bottom: 10px;
        }

        p {
            line-height: 35px;
            text-align: center;
        }
    }

    .hours-worked {
        width: 300px;
        height: 314px;
        border-right: 3px dashed lightblue;

        h1 {
            text-align: center;
            color: #bfd7db;
            font-size: 48px;
        }

        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            line-height: 35px;
            text-align: center;
        }
    }

    .awards-received {
        width: 300px;
        height: 314px;

        h1 {
            text-align: center;
            color: #bfd7db;
            font-size: 48px;
        }

        h2 {
            text-align: center;
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            line-height: 35px;
            text-align: center;
        }
    }
}

@media (max-width: 1250px) {
    .information {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        height: fit-content;
        padding: 70px;
        .happy-children {
            border: 0;
        }

        .hours-worked {
            border: 0;
        }
    }
}

@media (max-width: 650px) {
    .information {
        height: fit-content;
    }
}

@media (max-width: 555px) {
    .information {
        row-gap: 120px;
        .cactus {
            display: none;
        }
    }
}
