.toggle_header {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;

  nav {
    width: 500px;
    height: 100%;
    background: white;
    opacity: 1;
    padding: 30px 20px;

    .logo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 50px;

      img {
        width: 100px;
        border-radius: 100%;
        margin-right: 26px;
        margin-bottom: 16px;
      }
    }

    .navbar {
      width: 100%;
      height: fit-content;
      ul {
        width: 100%;

        .a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          list-style: none;
          margin-bottom: 16px;
          color: #333;
          padding: 10px;
          font-size: 20px;

          .active {
            color: #f39f5e;
          }
        }
      }
    }
  }

  span {
    width: 79%;
    height: 100%;
    background: black;
    opacity: 0.3;
    padding: 30px;
    display: flex;
    color: white;
    justify-content: flex-end;
    cursor: pointer;
  }
}

.header {
  width: 100%;
  height: fit-content;
  padding: 10px;
  background-color: #fff;

  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 0px;
    margin: 0 auto;

    .logo {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 900;
      font-family: sans-serif;
      color: #f39f5e;

      img {
        width: 100px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        .a {
          display: flex;
          align-items: center;
          list-style: none;
          text-decoration: none;
          font-size: 18px;
          font-family: sans-serif;
          font-weight: bold;
          cursor: pointer;
          color: #333;

          &:not(:last-child) {
            margin-right: 25px;
          }
          &:hover {
            color: #f39f5e;
          }

          &:active {
            color: none;
          }

          span {
            margin-left: 5px;
          }

          .active {
            color: #f39f5e;
          }
        }

        
      }
    }

    .toggle {
      width: 30px;
      position: relative;
      height: 20px;
      display: none;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      div:first-child {
        position: absolute;
        top: 0;
        border-radius: 10px;
        width: 100%;
        height: 3px;
        background: black;
      }

      div:nth-child(2) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: black;
      }

      div:nth-child(3) {
        width: 100%;
        height: 3px;
        background: black;
      }
    }
  }
}

@media (max-width: 1300px) {
  .header {
    .header_content {
      nav {
        display: none;
      }

      .toggle {
        display: flex;
      }
    }
  }
}

@media (max-width: 400px) {
  .toggle_header {
    
    nav {

      .logo {
        font-size: 24px;
        margin-bottom: 1px;
      }

      .navbar {
        font-size: 16px;
        
        ul {

          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  .header {
    .header_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .logo {
        font-size: 16px;
      }
    }
  }
}
