.curriculum {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #eff5f6;
    overflow: hidden;
    margin-bottom: 50px;
    padding-bottom: 30px;

    svg {
        height: 52px;
        width: auto;
    }

    h1 {
        text-align: center;
        color: #f39f5f;
        margin-top: 60px;
    }

    p {
        text-align: center;
        color: #285469;
        font-size: 54px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    .groups {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1240px;
        height: fit-content;
    }
}

@media (max-width: 1240px) {
    .curriculum {
        width: 100%;

        .groups {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            width: 100%;
            height: fit-content;

            .junior_group {
                width: 80%;
            }

            .middle_group {
                width: 80%;
            }
        }
    }
}

@media (max-width: 900px) {

.group_img {
        display: none;
        img {
            display: none;
        }
    }
}